#contact {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#contact-div {
    border: solid;
    border-radius: 6px;
    padding: 2px, 2px, 2px, 2px;
    text-align: center;
    margin-top: 150px;
    background-color: darkgreen;
}


