.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    
}

.media:hover {
    cursor: pointer;
    
} 

.fa-github {
    font-size:25px;color: white;
    margin-right: 10px;
}

.fa-github:hover{
    color: red;
}

.fa-linkedin {
    font-size:25px;color: white;
}

.fa-linkedin:hover {
    color: red;
}


